[2014-02-26 05:13] piyapongch opened #1 "test task from eclipse"
This is a test task created from eclipse.

[2014-02-26 05:33] piyapongch commented on #1
new comment

[2014-02-26 05:36] piyapongch commented on #1
(In reply to comment #1)

[2014-02-27 03:29] piyapongch opened #2 "Modify login screen to CCID using LDAP authentication"
Replace login screen with CCID

[2014-03-06 02:38] #1 closed, assigned to piyapongch

[2014-03-06 02:38] #2 closed, assigned to nobody

[2014-03-06 02:41] piyapongch opened #3 "Change build number properties file location"

[2014-03-06 02:45] piyapongch commented on #3
Change to DVN-web/src/main/java/BuildNumber.properties. This is the DVN's properties file. Some how, they did not do anything with it. The build number should show up on Setting page.

[2014-03-12 17:50] henryzhang87 opened #4 "exceptions"
After I installed glassfish, and ran the command

asadmin start-domain

and then checked server.log file. There are no exceptions.

I continued to install dataverse, and then after the starting of the domain, I checked the server.log file. It contained a lot of exceptions, however dataverse is working well. These exception messages just make me feel uncomfortable. I wish we can get rid of these ex

[2014-03-13 18:29] piyapongch commented on #3
I have fixed the build number to show up on application version by adding buildnumber-maven-plugin on pom.xml.

[2014-03-13 18:29] #3 closed, assigned to piyapongch

[2014-03-13 18:35] piyapongch commented on #4
I have added dependency libraries, but it failed to deploy. I think this might be conflict on new dependencies that I have added.

[2014-04-03 17:37] piyapongch opened #5 "Error searching on the front page"
On production server, it gives user a blank page, when searching. It redirects the user to http://dataverse.library.ualberta.ca:443/dvn/ExceptionHandler.

[2014-04-03 18:40] piyapongch commented on #5
I have created a test dataverse and add a test study case. There is no problem with searching. This problem happen when only no item in dataverse. I think it might their bug.

[2014-04-03 18:44] piyapongch commented on #4
We have decided not to fix this. Because it has happened with any installations that we have known of and it does not have any effect on the process. We will wait and hope that they will fix it in the version 4.

[2014-04-03 18:44] #4 closed, assigned to nobody

[2014-04-03 18:47] piyapongch commented on #5
I will leave this issue opened for you to take a look when you are back from vacation. If it is their bug, you can close this issue and report it to them.

[2014-04-04 16:44] piyapongch commented on #5
I have found that the problem has disappeared after I have created a dataverse. The problem might be that it have not been initializing yet. I will close this ticket for now.

[2014-04-04 16:44] #5 closed, assigned to henryzhang87

[2014-04-12 18:46] pdurbin opened #6 "help upstream craft CONTRIBUTING.md"
Hello! I'm one of the @IQSS Dataverse developers and I just discovered your fork of DVN 3.6! Rather than simply talking to myself out loud at http://irclog.iq.harvard.edu/dvn/2014-04-12 I thought I'd introduce myself.

Since you've worked on LDAP support, I wanted to make sure you're aware of the dvn-auth mailing list: https://lists.iq.harvard.edu/pipermail/dvn-auth/2013-September/000000.html

I a

[2014-07-30 22:02] piyapongch opened #7 "Public Account Integration"
### User Story

As a public user, I want to be able to create an account. I want to log in to Dataverse and create a dataverse then create a study and upload my research data.
### Details
- Add create account page for public user and check username duplication with LDAP server.
- Modify login page to allow public user to login
- Add change password page for public account
- Modify change password

[2014-07-30 22:05] piyapongch opened #8 "Study CSV Report by Collection"
### User Story

As a user, I want to get a study report by collection in CSV format.
### Details

The user can get the report from existing study by collection report and copy the content to to Microsoft Excel that will automatically import report to the spreadsheet. Then, user can export the spreadsheet to CSV format as needed.
### Acceptance
- [ ] User can get the report 100 records in one page.

[2014-07-31 12:25] pdurbin commented on #6
I'm going to close this issue because we recently wrote https://github.com/IQSS/dataverse/blob/master/CONTRIBUTING.md

Of course, we still welcome feedback on anything we've written there! Send us a pull request. :)

(For the issue of LDAP support specifically, please see https://groups.google.com/d/msg/dataverse-community/G6e-9Zz-bPY/VkzvG0xtVP4J .)

Thanks again for everything!

[2014-07-31 12:25] #6 closed, assigned to nobody

[2014-08-27 17:38] piyapongch opened #9 "Public Account Creation Workflow"
### User Story

As a system administrator, I want the system to have a user registration confirmation email, so that I can be sure that the user is a real user and I can contact them when unwanted data has been uploaded.
### Details

The dataverse is lacking of a user registration confirmation email that might create some security issues. The system needs the user to be confirmed before account ha

[2014-08-27 18:05] piyapongch opened #10 "Remove password and confirm password fields form AddAccountPage"
### User Story #9
### Task
- [ ] Remove password and confirm password fields from AddAccountPage
- [ ] Remove field validations.

[2014-08-27 18:09] piyapongch opened #11 "Create an account with random password"
### User Story #9
### Task
- [ ] Create an account with random generated password instead of password field.
- [ ] Modified workflow and add initialize password process.
- [ ] Create a new email template for new account creation.
- [ ] Add send random password email process.

[2014-08-27 18:11] piyapongch opened #12 "Change a message on account creation success page"
### User Story #9
### Task
- [ ] Change the message on the success page to tell user that the password has been sent and suggest user to change password after logged in.

[2014-08-28 21:02] piyapongch opened #13 "Public Account Creation Form"
### User Story #14

As a system administrator, I want an account creation form for a user to send account information, so that I can use the information to create an account.
### Details

The form should include all fields on account creation page. The form should validate the required field same as on the account creation page. The form should also send an email with account information to the sy

[2014-09-05 18:04] piyapongch opened #14 "Public Account Creation Mediate Workflow"
### User Story

As a system administrator, I want a user to make a request for account creation using Google Form and send an account information from to me, so that I can use the information to create the account.
### Details

User uses the Google Form to make a request for account creation. The Google Form should include all account information for creating an account. The administrator reviews

[2014-09-05 19:54] piyapongch commented on #13
Add a information page about CCID and guest user before the Google Form.

[2014-09-07 19:25] piyapongch opened #15 "Create Account Options Page"
### User Story #14

As a public user I want to have options to create a public account or use my CCID account so I can decide what account I would like to use.
### Details

The system shows a create account options page to a user when the user clicks on Create Account. The page  gives user options for creating public account or using CCID account.
### Acceptance
- [x] The system displays Login pag

[2014-09-23 21:05] #12 closed, assigned to piyapongch

[2014-09-23 21:05] #11 closed, assigned to piyapongch

[2014-09-23 21:05] #10 closed, assigned to piyapongch

[2014-12-02 18:35] wyman10 opened #16 "Access Analysis + Subsetting"
When I try to go to Access Analysis + Subsetting from the Data & Analysis tab dataverse hangs.

The study I am using is http://dx.doi.org/10.7939/DVN/10011

[2014-12-08 23:16] #15 closed, assigned to piyapongch

[2014-12-08 23:17] #14 closed, assigned to piyapongch

[2014-12-08 23:17] #13 closed, assigned to piyapongch

[2014-12-08 23:17] #9 closed, assigned to piyapongch

[2014-12-08 23:17] #8 closed, assigned to piyapongch

[2014-12-08 23:17] #7 closed, assigned to piyapongch

[2014-12-10 18:56] piyapongch opened #17 "Public access account creation email problem"
The send mail failure email has been sent to my mailbox instead of data@ualberta.ca. The public account request form has been created using my account. The form need to be moved to data@ualberta.ca account instead.

[2014-12-16 15:51] piyapongch opened #18 "Google Apps Script: FormEmailer Failure"
Your script, FormEmailer, has recently failed to finish successfully. A summary of the failure(s) is shown below. To configure the triggers for this script, or change your setting for receiving future failure notifications, click here.

The script is used by the document UAL Dataverse Network Public Account Creation (Responses).

Summary:

Error Message   Count
Service error: Spreadsheets (line 60

[2015-01-29 19:07] piyapongch opened #19 "Google Apps Script: FormEmailer Failures"
The failure email has been received. Here is the [email](https://drive.google.com/a/ualberta.ca/file/d/1bhfTVjUtlKTIV3vZq0KGh1ZvzLq0hrQrFAUlZhkUjpLDTW9dlVCX2aZBMa1BWbjmo-lfHAjlJvoazTa4/view?usp=sharing).

[2015-03-03 00:36] johnhuck opened #20 ""Download the cataloging information in XML format" function"
This function does not seem to be working at the moment. The function will likely be required to support the export of metadata to be ingested into Hydra North prior to its launch. Can this be easily remedied? Thanks

[2015-03-03 04:16] sfarnel commented on #20
I tried this out with one of the studies in the Thom Hess Collection in the UA Dataverse:
http://dx.doi.org/10.7939/DVN/10137

When I click on Download catalog info I'm taken to the following URL:

https://dataverse.library.ualberta.ca:80/dvn/api/metadata/87

which is a blank page. Trying save file as gives a server error.

I think this has to do with the port (80) being in the URL. If I try the f

[2015-03-03 16:19] pcharoen commented on #20
I've got the same problem. It's working fine on Hibernian, development
server. Even though, it also has :80 at the end of domain name. I think
might be something on the web server configuration. I've submitted a ticket
to Henry. He will take care of the problem.

Piyapong.

On Mon, Mar 2, 2015 at 9:16 PM, Sharon Farnel notifications@github.com
wrote:

[2015-03-03 16:23] piyapongch commented on #20
You can also export all items from the Utilities tab on the admin interface. The metadata will be on the server. Let me know if you want to do that. I can work with Henry to get them for you.

[2015-03-03 16:26] piyapongch commented on #20
You can get Dataverse's metadata in oai_dc, ddi and marc format.

[2015-03-03 16:34] johnhuck commented on #20
Thanks, both. This gives me a couple of avenues to follow. My first issue submitted on github and a speedy response!

[2015-03-03 17:13] piyapongch commented on #20
I've exported all items on Dataverse. They're now on the server. Henry will collect them and give to me later this week. I'll then give them to you. Just in case, you want to investigate in other item.

[2015-03-03 23:43] sfarnel commented on #20
Thanks Piyapong.

On Tue, Mar 3, 2015 at 10:13 AM, Piyapong Charoenwattana <
notifications@github.com> wrote:

##

Sharon Farnel
Metadata Coordinator
University of Alberta Libraries
sharon.farnel@ualberta.ca
780-492-3685

[2015-03-04 00:10] pbinkley commented on #20
Sharon, I think the wonkiness is only in the embedded html, where every
opening angle bracket has been escaped (to prevent it being interpreted as
an xml element). If I open it in Oxygen and hit ctrl-I to reformat, it
looks ok, though there are a couple of validation errors for DVN-specific
values that presumably aren't in the DDI schema. Does that match your
experience?

Peter

Peter Binkley
Digi

[2015-03-04 02:36] sfarnel commented on #20
Thanks Peter. After playing a bit, you're right; the weirdness was fixed
with reformatting. And the validity problems are with the DVN specific
info. I see that other Dataverse instances have different versions of DDI
available for download. Something for future consideration.

On Tue, Mar 3, 2015 at 5:10 PM, Peter Binkley notifications@github.com
wrote:

##

Sharon Farnel
Metadata Coordinator
Uni

[2015-03-11 15:01] piyapongch commented on #20
I think I've found how to fix the metadata download broken link. I'm going to try this morning.

[2015-03-13 17:45] piyapongch opened #21 "Download bundle excessed the limit of 104857600 bytes."
From: llaliber@ualberta.ca Larry Laliberte
To:
Date: Fri, 13 Mar 2015 11:22:46 -0600
Subject: Re: [Ticket#201409221011951] Ticket owner assigned to you! (Dataverse CCID login pro [...])

I tried downloading all of the files located here:
https://dataverse.library.ualberta.ca/dvn/dv/3m1i/faces/study/StudyPage.xhtml?globalId=doi:10.7939/DVN/10242&studyListingIndex=0_41d24796d690c74379d19e3634b4

The

[2015-03-13 18:31] wyman10 opened #22 "DOI Link Not Resolving Back to UAL DV Page"
The DOI link found in the Data Citation that was generated for the following 2 studies - will not resolve back to the UAL DV page

https://dataverse.library.ualberta.ca/dvn/faces/study/StudyPage.xhtml?globalId=doi:10.7939/DVN/10160

https://dataverse.library.ualberta.ca/dvn/faces/study/StudyPage.xhtml?globalId=doi:10.7939/DVN/10150

I thought I would report it here first before submitting it to ht

[2015-03-13 18:51] henryzhang87 commented on #21
I checked on the production machine about the version of DVN-web.war, it
said Sept 23. 2014, that means on September 23, 2014,
the war file was deployed.

To fix the batch download maximum, we needs to change in domain.xml which
is outside of DVN-web.war.

regards

Henry

On Fri, Mar 13, 2015 at 11:45 AM, Piyapong Charoenwattana <
notifications@github.com> wrote:

[2015-03-13 18:51] henryzhang87 commented on #21
Last deployment time for DVN-web.war

drwxr-xr-x. 2 root root     4096 Feb 13  2012 bundles
-rw-r--r--. 1 root root 38141636 Sep 23 13:21 DVN-web.war
-rw-r--r--. 1 root root        0 Sep 23 14:15 DVN-web.war_deployed

On Fri, Mar 13, 2015 at 12:51 PM, Guanwen Zhang guanwen@ualberta.ca wrote:

[2015-03-18 21:41] johnhuck opened #23 "Support for diacritics? Is UTF-8 being used consistently?"
I was entering cataloguing information for an item in Dataverse, and it seems that diacritics are not being captured properly. I wonder if it is related to this issue at all:

https://github.com/IQSS/dataverse/issues/834

For an example, look at the title for study doi:10.7939/DVN/10269, if you can access it through an admin interface (It hasn't been released yet). I don't know if this is a known

[2015-03-19 15:29] piyapongch commented on #23
I will try it. Can you give me the item URL? I have looked at the link. It is in version 4.0 beta. We are using 3.6.2.

[2015-03-19 16:47] johnhuck commented on #23
Thank you, Piyapong.

https://dataverse.library.ualberta.ca/dvn/dv/CCRI/faces/study/StudyPage.xhtml?globalId=doi:10.7939/DVN/10269&versionNumber=1

[2015-03-20 17:27] johnhuck opened #24 "Fixing minor grammatical errors on landing page text."
https://dataverse.library.ualberta.ca/dvn/

In the sentence "This services is provided to help researchers to publish, analyze, distribute and preserve their data and datasets,"

"services" should be "service," and

 "to" should not be repeated after "researchers".

"This service is provided to help researchers publish, analyze, distribute and preserve their data and datasets."

[2015-03-23 18:37] wyman10 opened #25 "DOI Link Not Resolving Back to UAL DV Page"
I just released another study https://dataverse.library.ualberta.ca/dvn/faces/study/StudyPage.xhtml?globalId=doi:10.7939/DVN/10293 that along with the Obispos y Prebendas de Chiapa and Obispados y Prebendas en Guatemala en las cuatro diocesis studies has a DOI link that points to the DOI not found error at http://dx.doi.org/.

All the other studies are fine - so this issue must have occurred somet

[2015-03-23 20:43] piyapongch commented on #21
Henry has applied the file size configuration on domain.xml.

[2015-03-23 20:46] piyapongch commented on #25
I will need to access the log files to see what went wrong on the server. I will make a request to system admin.

[2015-03-23 20:54] piyapongch commented on #16
I have tried it and it's working. Please try again. I think it might be memory problem. The server has been restarted. Everything should be working now.

[2015-03-23 20:55] #21 closed, assigned to piyapongch

[2015-03-23 21:07] wyman10 commented on #16
Looks Good - Thanks

On Mon, Mar 23, 2015 at 2:54 PM, Piyapong Charoenwattana <
notifications@github.com> wrote:

[2015-03-24 19:54] piyapongch commented on #22
These two DOIs have been created on EZID, but they are in status reserved. I think it might be something wrong when releasing the studied. I have changed the statuses manually. They should be fixed now. I will investigate the problem in the log files.

[2015-03-24 21:35] piyapongch commented on #25
I have tried to fix the DOI using Handle Utilities Admin page, https://dataverse.library.ualberta.ca/dvn/faces/networkAdmin/NetworkOptionsPage.xhtml, but it did not work.

[2015-03-24 22:15] johnhuck commented on #23
Some further observations on this issue: I believe that dataverse may be interpreting a UTF-8 two bit character as two ASCII characters. (I have seen reference to this issue in 3.6.x elsewhere on github threads.) An interesting wrinkle to this issue is that when you are entering cataloguing for the study, I think certain actions (such as adding another instance of a repeating field) cause DV to au

[2015-03-25 16:25] piyapongch commented on #23
I am still working on DOI problem. If you have found discussion on the
Datavese User Group, please forward to me. I think it should be supported
out of the box. I have looked in the html and I found that it encoded with
UTF-8. It might be something that they did or did not on the server. I will
investigate the problem after I am done with the DOI problems.

Thanks,

Piyapong.

On Tue, Mar 24, 2015

[2015-03-25 17:05] johnhuck commented on #23
Thanks, Piyapong. I'll see if I can find some specific discussion threads for you (the one reference I saw was a passing comment someone made).

[2015-03-25 18:32] piyapongch commented on #25
I have tried on the test server, https://hibernian.library.ualberta.ca. It is working properly. The DOI is resolved back to the study. I will check with Henry to find that what causes the problem on the production server.

[2015-03-25 19:29] pcharoen commented on #23
One of my source is Dataverse User Group,
https://groups.google.com/forum/#!forum/dataverse-community. Just in case,
you might not know it.

Piyapong.

On Wed, Mar 25, 2015 at 11:05 AM, johnhuck notifications@github.com wrote:

[2015-03-27 18:39] piyapongch commented on #25
The EZID certificate has been added to Java keystore. The application can register and update the DOI.

[2015-03-27 18:39] #25 closed, assigned to piyapongch

[2015-03-27 18:40] piyapongch commented on #20
I've fixed the problem and redeployed the application on the production server. The feature is now working properly.

[2015-03-27 18:40] #20 closed, assigned to nobody

[2015-03-27 18:42] piyapongch commented on #22
The EZID certificate has been imported to Java keystore. The application is now working properly.

[2015-03-27 18:42] #22 closed, assigned to piyapongch

[2015-03-27 18:55] johnhuck commented on #20
Thanks, Piyapong!

[2015-03-27 21:20] piyapongch commented on #24
I have changed the message.

[2015-03-27 21:20] #24 closed, assigned to piyapongch

[2015-03-30 21:59] piyapongch commented on #23
I have tried to add the character encode in the startup script, but it did not seem to be working. I will tried to find another solutions.

[2015-04-01 20:54] piyapongch commented on #23
I have fixed the problem and tested. It seems to be working. Here is a sample study, https://hibernian.library.ualberta.ca/dvn/faces/study/StudyPage.xhtml?globalId=doi:10.5072/FK2/10076&versionNumber=2. I have entered some French, Chinese, Japanese and Thai. The dataverse saved and returned back with the same characters.

Please tried again and let me know.

[2015-04-01 21:16] johnhuck commented on #23
Hi Piyapong, unfortunately, the problem persists in the dataverse study I showed you the other day. I just edited the record via my laptop (mac) and also via my desktop (pc), and got the same result both times. I also observed the extra character being added on "save". I didn't look at your example, but I notice it's on a different server. Could that be why?

[2015-04-01 21:25] piyapongch commented on #23
I have fixed it on the development server,
https://hibernian.library.ualberta.ca. Please try again.

If everything is working as expected, I will deploy the application on
production server.

Thanks,

Piyapong.

On Wed, Apr 1, 2015 at 3:16 PM, johnhuck notifications@github.com wrote:

[2015-04-01 21:28] piyapongch commented on #23
You might not be able to try on your laptop with Wifi connection. You
should be able to do it from your workstation. If you can not, please let
me know. I will need to submit a ticket to sysadmin to open the firewall to
the development server for you.

Piyapong.

On Wed, Apr 1, 2015 at 3:25 PM, Piyapong Charoenwattana <
piyapong.charoenwattana@ualberta.ca> wrote:

[2015-04-01 21:40] johnhuck commented on #23
I was able to log on to the hibernia dev server. I created a test dataverse and a test study with simple diacritics and it looks fine, so, I can confirm the behaviour that you have observed. Looks like it's fixed. Thanks! Was it simple to solve? (In case someone else runs into the same problem)

[2015-04-01 21:43] piyapongch commented on #23
I will package it and deploy on production server. I will let you know when
it deployed.

Piyapong.

On Wed, Apr 1, 2015 at 3:40 PM, johnhuck notifications@github.com wrote:

[2015-04-01 22:39] chumphre commented on #23
Hi, Piyapong ... I'm told by the development server that this is a
restricted page so I can't see the improvements to character sets that
you've accomplished.  Thanks, Chuck

Charles (Chuck) Humphrey
Research Data Management Services Coordinator
University of Alberta Libraries
Phone: 780-492-9216
ORCID: http://orcid.org/0000-0003-4623-020X
http://orcid.org/0000-0003-4623-020X?lang=en

On Wed, Apr

[2015-04-02 16:56] piyapongch commented on #23
Chuck:

I would like to see the problem. It might be firewall or browser certificate. Can you show me when you have a chance? If it is firewall problem, I will request the sysadmin to open it for you.

Thanks,

[2015-04-02 17:46] johnhuck commented on #23
Piyapong, I also got a restricted message when I clicked your link (using my staff station), https://hibernian.library.ualberta.ca/dvn/faces/study/StudyPage.xhtml?globalId=doi:10.5072/FK2/10076&versionNumber=2, but I was able to navigate somehow to a login screen, where I was able to login (ignoring a certificate warning message from my browser) and once I was in the dev. instance of dataverse, I

[2015-04-02 17:53] piyapongch commented on #23
I think I was testing when I logged in.

Chuck:

You might want to point your browser to http://hibernian.library.ualberta.ca
and log in using your ccid. Then, you can try to create a study, enter
special characters and save it. Then, open the study again to see that the
special characters displays properly. You also should be able to click on
the link to see my sample.

Thanks,

Piyapong.

On Thu

[2015-04-02 18:03] piyapongch commented on #23
Chuck:

I have released the study. Can you try this URL,
https://hibernian.library.ualberta.ca/dvn/faces/study/StudyPage.xhtml?studyId=8699
?

Thanks,

Piyapong.

On Thu, Apr 2, 2015 at 11:53 AM, Piyapong Charoenwattana <
piyapong.charoenwattana@ualberta.ca> wrote:

[2015-04-02 18:16] johnhuck commented on #23
I still get an unsafe certificate warning, but if I click through, the link works now.

[2015-04-02 18:21] piyapongch commented on #23
The development server does not have a trust certificate installed. You
will always get the warning. Just need to click through it.

In the sample, I know that Thai is working properly. It think, it should be
the same as the others.

Piyapong.

On Thu, Apr 2, 2015 at 12:16 PM, johnhuck notifications@github.com wrote:

[2015-04-02 18:47] chumphre commented on #23
Excellent!  Thanks, Chuck

Charles (Chuck) Humphrey
Research Data Management Services Coordinator
University of Alberta Libraries
Phone: 780-492-9216
ORCID: http://orcid.org/0000-0003-4623-020X
http://orcid.org/0000-0003-4623-020X?lang=en

On Thu, Apr 2, 2015 at 12:03 PM, Piyapong Charoenwattana <
notifications@github.com> wrote:

[2015-04-02 20:36] piyapongch commented on #23
I have told Henry to deploy the application on production server. I will let you know when it lives.

[2015-04-15 16:14] johnhuck commented on #23
The original encoding problem persists on the production instance.

[2015-04-15 17:42] piyapongch commented on #23
I have checked the version of development server and production server. The
production server stills old version. I have asked Henry to deploy the
latest version from development server that working properly. I will let
you know when the application deployed. Then, you can try again.

Thanks,

Piyapong.

On Wed, Apr 15, 2015 at 10:14 AM, johnhuck notifications@github.com wrote:

[2015-04-15 17:44] piyapongch commented on #23
I think Henry is away today. I will check with him again tomorrow.

Thanks,

Piyapong.

On Wed, Apr 15, 2015 at 11:42 AM, Piyapong Charoenwattana <
piyapong.charoenwattana@ualberta.ca> wrote:

[2015-04-15 18:01] henryzhang87 commented on #23
what would you like me to do?

regards
Henry

On Wed, Apr 15, 2015 at 11:44 AM, Piyapong Charoenwattana <
notifications@github.com> wrote:

[2015-04-15 18:06] pcharoen commented on #23
Henry:

Can you deploy the dataverse war file from Hibernian to production server?
You do not need to restart the server, just drop the war file in autodeploy
directory. I think the application will be unavailable briefly.

Thanks,

Piyapong.

On Wed, Apr 15, 2015 at 12:01 PM, henryzhang87 notifications@github.com
wrote:

[2015-04-15 18:07] chumphre commented on #23
Hi, Piyapong ... Sorry, I'm on the side of the firewall to check this. I'll be back on the office Monday.

Thanks, Chuck

Sent from my iPhone

[2015-04-15 18:10] chumphre commented on #23
I see that this is an older message that was stacked on the latest exchanges about special character sets. It popped into sight and I responded. But now that I think about, I already checked this earlier in the month.

Sent from my iPhone

[2015-04-15 18:18] henryzhang87 commented on #23
Deployed. Please verify.

Regards

Henry

On Wed, Apr 15, 2015 at 12:06 PM, pcharoen notifications@github.com wrote:

[2015-04-15 18:23] piyapongch commented on #23
Thank you Henry. It is now latest version.

John:

Can you try again? Thanks,

Piyapong.

On Wed, Apr 15, 2015 at 12:18 PM, henryzhang87 notifications@github.com
wrote:

[2015-04-15 20:17] johnhuck commented on #23
Success! Diacritics are saving properly, so it looks like it is fixed. Thanks, Piyapong and Henry.

[2015-04-15 20:25] piyapongch commented on #23
Henry:

You can close the ticket. Thanks,

Piyapong.

On Wed, Apr 15, 2015 at 2:17 PM, johnhuck notifications@github.com wrote:

[2015-04-15 20:31] henryzhang87 commented on #23
fixed

[2015-04-15 20:31] #23 closed, assigned to piyapongch

[2015-04-15 21:30] #16 closed, assigned to piyapongch

[2015-04-15 21:32] piyapongch commented on #17
Will be replaced with authentication module including Shibboleth integration in Dataverse 4.0.

[2015-04-15 21:32] #17 closed, assigned to piyapongch

[2015-04-16 00:44] pdurbin commented on #17
Yes! So far [Shibboleth](https://docs.google.com/document/d/12Qru8Gjq4oDUiodI00oObHJog65S7QzFfFZuPU3n8aU/edit?usp=sharing) seems to be working ok in 4.0!

I'd be curious to hear more about this authentication module.

[2015-04-25 22:43] #19 closed, assigned to piyapongch

[2015-04-25 22:44] #18 closed, assigned to piyapongch

[2015-06-01 15:28] wyman10 opened #26 "Diacritics issue in the variable names for TAB files"
We recently tried to import a SPSS file to generate a TAB file in Dataverse so that we can try out the analysis/sub setting features. However, the field variable names that are in French did not import correctly (another diacritics issue?) – the data file is in the Canadian Century Research Infrastructure Dataverse under the CCRI 1911 Census of Canada Aggregate Data and Geography study and the fil

[2015-06-04 18:17] piyapongch commented on #26
Can you give me the study URL? Thanks,

[2015-06-04 18:24] wyman10 commented on #26
https://dataverse.library.ualberta.ca/dvn/dv/CCRI/faces/study/StudyPage.xhtml?globalId=doi:10.7939/DVN/10269&versionNumber=1

and it is TAB file ccri_pub_1911_v2t2.tab

On Thu, Jun 4, 2015 at 12:17 PM, Piyapong Charoenwattana <
notifications@github.com> wrote:

[2015-06-04 20:56] piyapongch commented on #26
Can you give me the original file? Thanks,

[2015-06-04 21:09] wyman10 commented on #26
here you go...

On Thu, Jun 4, 2015 at 2:56 PM, Piyapong Charoenwattana <
notifications@github.com> wrote:

[2015-06-04 22:08] piyapongch commented on #26
I could not get it. Can you send again by attaching to your email?

I have found an issue, https://github.com/IQSS/dataverse/issues/1343/. It
have never got to the production for v3. I have tried v4.0 at
https://dataverse-demo.iq.harvard.edu. They have implemented the feature. I
have added a file and the advanced options showed up and I can select
character encoding.

Piyapong.

On Thu, Jun 4, 201

[2015-06-04 22:14] wyman10 commented on #26
I have attached the unzipped .sav file

On Thu, Jun 4, 2015 at 4:08 PM, Piyapong Charoenwattana <
notifications@github.com> wrote:

[2015-06-05 15:28] johnhuck commented on #26
Can you try the file with v4.0 at dataverse devo site,
https://dataverse-demo.iq.harvard.edu/? I will show a advanced options
button after you uploaded and you can select character encoding. If it that
work with your data, I will take a look at their code what they have done
and try to apply that to our v3.6.2 copy.

Thanks,

Piyapong.

On Thu, Jun 4, 2015 at 4:28 PM, John Huck john.huck@ualberta.

[2015-06-05 16:34] johnhuck commented on #26
I loaded it up and the french text came in fine (in two ravens) - the
advanced options button had UTF-8 set as the as default

On Fri, Jun 5, 2015 at 9:28 AM, Piyapong Charoenwattana <
charoenw@ualberta.ca> wrote:

[2015-06-05 18:17] piyapongch commented on #26
The feature has been implemented in Dataverse 4.0. We will upgrade to the new version in the near future.

[2015-06-05 18:17] #26 closed, assigned to piyapongch

[2015-06-25 17:22] wyman10 opened #27 "[EZID] Handle Server Maintenance this Saturday, affects DOI service only"
Can we have this downtime added to the UAL DNV homepage:

something like:

Between 8:00 AM & 10:00 AM on Saturday June 27th, 2015, it will not be possible to create any new DOIs.

---

“CNRI is going to move DataCite's primary handle server to another server rack. During the required downtime of the handle server no DOI minting via our MDS will be possible.

Neither DOI resolution our any other Da

[2015-06-25 20:04] piyapongch commented on #27
I have tried to test it on the development server, but I could not. I have issue a ticket  to Henry to take a look. I will let you check it on the server when the message has changed.

[2015-06-25 20:15] piyapongch commented on #27
I have changed the message on the development server, [https://hibernian.library.ualberta.ca/](https://hibernian.library.ualberta.ca/). Can you take a look?

[2015-06-25 20:26] wyman10 commented on #27
looks good!

On Thu, Jun 25, 2015 at 2:15 PM, Piyapong Charoenwattana <
notifications@github.com> wrote:

[2015-06-25 20:33] piyapongch commented on #27
The message is now on the production server.

[2015-07-09 22:51] johnhuck opened #28 "New extract of Dataverse metadata, please"
Could I have a new extract of Dataverse metadata, please (at your earliest convenience)?

The OAI_DC format is what I need, but I would like the DDI too for reference.

If it is possible to separate the OAI_DC metadata from the DDI metadata, that would make it a little easier to work with. In the last extract I worked with, there was one set of folders, where each folder corresponded to a study an

[2015-07-10 14:39] pbinkley commented on #28
I'm not sure who did this last time. In Weiwei's absence, could you do this, Piyapong?

[2015-07-10 14:42] sfarnel commented on #28
I believe it was Piyapong who did this last time.

On Fri, Jul 10, 2015 at 8:39 AM, Peter Binkley notifications@github.com
wrote:

##

Sharon Farnel
Metadata Coordinator
University of Alberta Libraries
sharon.farnel@ualberta.ca
780-492-3685

[2015-07-10 18:25] johnhuck commented on #28
Yes, Piyapong asked me to request the extract by opening an issue. Sorry, could have made that more clear.

[2015-07-13 14:43] wyman10 commented on #27
Please remove the message "Between 8:00 AM & 10:00 AM on Saturday June 27th, 2015, it will not be possible to create any new DOIs." on the UAL DV homepage.

[2015-07-13 21:26] piyapongch commented on #27
I have removed the message.

[2015-07-13 21:26] #27 closed, assigned to piyapongch

[2015-07-13 21:57] piyapongch commented on #28
I have extracted the latest metadata. They are now in /usr/share/glassfish3.1.2/glassfish/domains/domain1/config/files/studies on the Dataverse server.

Henry:

Can you copy the data and separate between DDI and OAI to two zip file?

Thanks,

[2015-07-22 20:06] wyman10 opened #29 "Issues with the Guestbook"
For the following Dataverse : https://dataverse.library.ualberta.ca/dvn/dv/CCRI

I have set up a guestbook (under the permissions tab) and wanted to test it. However, the results do not line-up. When you look at “download tracking data” (under the permissions tab) the results are all lumped under Anonymous, leaving the guestbook fields (name, email etc.) empty, even though, after logging out of DV

[2015-08-10 15:32] wyman10 commented on #29
Looks like it is working again.

[2015-08-10 15:32] #29 closed, assigned to piyapongch

[2015-08-11 16:30] piyapongch opened #30 "Missing UA library Logo"
The logo on the header has been missing. It need to be changed the image URL.

[2015-08-13 16:41] piyapongch commented on #30
I have fixed the problem and included the logo in the application package and deploy on production server.

[2015-08-13 16:41] #30 closed, assigned to piyapongch

[2015-09-01 15:33] wyman10 opened #31 "DOI Link Not Resolving Back to UAL DV Page"
Various doi's are not resolving i.e.

http://dx.doi.org/10.7939/DVN/10523
http://dx.doi.org/10.7939/DVN/10531
http://dx.doi.org/10.7939/DVN/10515

essentially every study created since June 2015
This issue has happened before https://github.com/ualbertalib/dvn/issues/25

There is a course going live with its text book for downloading and I am concerned that many students will be getting this messa

[2015-09-01 16:04] piyapongch commented on #31
I will take a look at them.

Piyapong.

On Tue, Sep 1, 2015 at 9:33 AM, wyman10 notifications@github.com wrote:

[2015-09-01 16:07] piyapongch commented on #31
Can you give URLs to the studies?

Piyapong.

On Tue, Sep 1, 2015 at 10:04 AM, Piyapong Charoenwattana <
piyapong.charoenwattana@ualberta.ca> wrote:

[2015-09-01 16:12] wyman10 commented on #31
Here is the txt book example:
https://dataverse.library.ualberta.ca/dvn/dv/OpenGeneticsLectures/faces/study/StudyPage.xhtml?globalId=doi:10.7939/DVN/10538&studyListingIndex=14_9521bf822633323cfa589b0c70f1

[2015-09-01 19:49] piyapongch commented on #31
I have tried to register the first DOI, but It did not work. I need to take
a look at the log file. The log file on log server has not been updated
since Aug 12. I have issued a ticket to Henry to get the log file updated.
I will check it when the file updated.

Piyapong.

On Tue, Sep 1, 2015 at 10:07 AM, Piyapong Charoenwattana <
piyapong.charoenwattana@ualberta.ca> wrote:

[2015-09-01 20:14] piyapongch commented on #31
Larry:

I think the EZID password has been changed. That might cause the problem. I
have tried to register it using admin interface, but it did not work. I
have also tried to use the password logged in to ezid.cdlib.org, but I
could not. Do you know anyone has the password and might have changed it?

Thanks,

Piyapong.

On Tue, Sep 1, 2015 at 1:49 PM, Piyapong Charoenwattana <
piyapong.charoenwatt

[2015-09-01 20:47] wyman10 commented on #31
Is it not the same problem as issue 25?
https://github.com/ualbertalib/dvn/issues/25

I do not have the password, and I am not sure why anyone would have changed
it?

Did you do anything with EZID relating to Kendall's request Weiwei?

All the best
Larry

On Tue, Sep 1, 2015 at 2:14 PM, Piyapong Charoenwattana <
notifications@github.com> wrote:

[2015-09-01 20:50] weiweishi commented on #31
No Larry I haven't done anything to Kendall's request. I was also blocked
by not having the correct password to access EZID.

_Weiwei Shi_

Digital Initiative Applications Librarian
University of Alberta Libraries
2-10L Cameron Library
Edmonton, Alberta, Canada T6G 2J8
Phone:(780)492-7802
Fax: (780)248-1209
Email: weiwei.shi@ualberta.ca

On Tue, Sep 1, 2015 at 2:47 PM, wyman10 notifications@github

[2015-09-01 20:53] wyman10 commented on #31
So you have both been blocked?

Who might of had the original admin password?

On Tue, Sep 1, 2015 at 2:50 PM, Weiwei Shi notifications@github.com wrote:

[2015-09-01 20:59] piyapongch commented on #31
We can reset the password. I think we need Geoff's email to do that. After
we have got a new password, I will need to change dataverse setting and
restart the server.

I will be waiting for others to response, before doing that.

Piyapong.

On Tue, Sep 1, 2015 at 2:47 PM, wyman10 notifications@github.com wrote:

[2015-09-01 21:05] wyman10 commented on #31
Hi Geoff,

We are having issues with EZID resolving our DOIs (for studies created
since July), and we can not log in to EZID.

Do happen to have the admin user name and password?

All the best
Larry

On Tue, Sep 1, 2015 at 2:59 PM, Piyapong Charoenwattana <
notifications@github.com> wrote:

[2015-09-01 21:09] wyman10 commented on #31
Hi Larry: Peter has the id and p/w.

Geoff

On Tue, Sep 1, 2015 at 3:05 PM, Larry Laliberte llaliber@ualberta.ca
wrote:

##

Geoff Harder
Associate University Librarian
Information Resources and Digital Initiatives

_University of Alberta Libraries2-10H Cameron Library, University of
AlbertaEdmonton, AB, Canada T6G 2J8  780.492.7914
 geoffrey.harder@ualberta.ca geoffrey.harder@ualberta.ca
library.

[2015-09-01 21:11] weiweishi commented on #31
We've checked with Peter and he doesn't have the password. I think it makes
sense to reset the password since nobody seems to have the information.

_Weiwei Shi_

Digital Initiative Applications Librarian
University of Alberta Libraries
2-10L Cameron Library
Edmonton, Alberta, Canada T6G 2J8
Phone:(780)492-7802
Fax: (780)248-1209
Email: weiwei.shi@ualberta.ca

On Tue, Sep 1, 2015 at 3:09 PM, wyman

[2015-09-01 21:21] piyapongch commented on #31
I have the username and password. They did not work when I tried to log in
to ezid. They are the same username and password using in Dataverse.

We can reset the password, but we need register email address. I think it
is Geoff's email address. After we have got the password, I will need to
reset it and restart the server.

Piyapong.

On Tue, Sep 1, 2015 at 3:09 PM, wyman10 notifications@github.co

[2015-09-01 22:26] wyman10 commented on #31
Here are the Study DOIs that need resolving

"Open Genetics Lectures" textbook for an Introduction to Molecular Genetics
and Heredity (BIOL 207)

http://dx.doi.org/10.7939/DVN/10538
http://dx.doi.org/10.7939/DVN/10536
http://dx.doi.org/10.7939/DVN/10535
http://dx.doi.org/10.7939/DVN/10511
http://dx.doi.org/10.7939/DVN/10510
http://dx.doi.org/10.7939/DVN/10537

Edmonton Japanese Community Associati

[2015-09-02 20:28] piyapongch commented on #31
I have registered all studies on the list. For the unreleased studies, They
will be registered when I have got data from the database.

Piyapong.

On Tue, Sep 1, 2015 at 4:26 PM, wyman10 notifications@github.com wrote:

[2015-09-02 20:30] #28 closed, assigned to henryzhang87

[2015-09-03 22:04] piyapongch commented on #31
I have got data from Henry and registered all unreleased studies. They should have working DOI when they are released.

[2015-09-04 22:02] wyman10 opened #32 "User Can not Log in"
A dataverse user has noted that they can not log in using their CCID.

Checking into the issue I noticed that they have three active accounts all of which are based on their ualberta email and CCID username.

Username jie13
Full Name Jie Wang
E-Mail jie13@ualberta.ca

I checked the dataverse email account to see if they had tried to register as a guest (when people do this I email them directing t

[2015-09-09 16:53] piyapongch commented on #32
I will start to work on this issue.

[2015-09-10 16:20] piyapongch commented on #32
I have checked the data. There are more than one duplicate usernames. Some of them have different  email addresses. I think it might happen when we have launched and had a training class. The earlier version did not have CCID login feature and might have had bug that allowed user to register with same username and email address.

Here are the duplicate usernames:
Ali,Shiri
Robyn,Stobbs
Bettina,Ber

[2015-09-10 18:54] piyapongch commented on #32
Larry:

I have found that the user jie13 is also has the same CCID, jie13. I have tested on the test server, hibernian and tried to create a new account using username jie13. The application returned back with error message, username already taken.

I think we can fix the problem by rename the usernames to jie13_1,  jie13_2 and  jie13_3 and deactivate them. The user should be able to login again u

[2015-09-10 18:57] wyman10 commented on #32
This sounds good to me!

On Thu, Sep 10, 2015 at 12:54 PM, Piyapong Charoenwattana <
notifications@github.com> wrote:

[2015-09-10 19:13] piyapongch commented on #32
I will work with Henry this afternoon. I will not delete any user data. They will be changed to other unique usernames and deactivated. We can recover them back if needed.

[2015-09-10 20:27] piyapongch commented on #32
Henry is busy today. We will do it tomorrow morning after standup meeting.

[2015-09-10 20:28] wyman10 commented on #32
ok sounds good

On Thu, Sep 10, 2015 at 2:27 PM, Piyapong Charoenwattana <
notifications@github.com> wrote:

[2015-09-14 17:29] piyapongch commented on #32
I have renamed the duplicate usernames, jie13 to jie13_1, jie13_2 and jie13_3 and deactivated them.

I have seen a new username, jie13 was created when user has logged in using CCID. This should be working as expected.

[2015-09-15 02:09] wyman10 commented on #32
The jie13 user confirmed that they can now log in.

However, I got an email tonight from a user sulz (an HSS Librarian) saying
they could not log in. Checking the permissions user list they also have
two accounts under the same username - yet they were not on the duplicate
username list you sent me last week?

So somehow a second username was created (They told me they were using
dataverse fine du

[2015-09-15 02:25] piyapongch commented on #32
I will take a look at the problem tomorrow morning. Hopefully, the study associates with only one account. So, we can just rename the one that does not have study.

[2015-09-15 17:41] piyapongch commented on #32
I have checked on the username sulz and rename the one that has id, 241 to sulz_1. The username does not have any study associate with it. I have also deactivated the username sulz_1.

The user should be able to login using ccid. Please let the user try again and let me know.

Thanks,

[2015-09-15 19:12] wyman10 commented on #32
He was able to login fine (case 2 of 2 closed)

On Tue, Sep 15, 2015 at 11:41 AM, Piyapong Charoenwattana <
notifications@github.com> wrote:

[2015-09-15 20:05] #32 closed, assigned to piyapongch

[2015-09-29 20:26] johnhuck opened #33 "New Dataverse extract (Sept 29)"
Hello @piyapongch and @henryzhang87 .

Could you please prepare another extract of Dataverse metadata for me? Again, if you could separate the OAI-DC from the DDI files that would be ideal. For your reference, here's the issue from last time.

https://github.com/ualbertalib/dvn/issues/28

I plan to run the required transformation on the metadata extract later this week so it can be included in our

[2015-09-30 16:26] piyapongch commented on #33
I have export all the metadata. I will issue a ticket to Henry to the data from production server.

[2015-10-06 14:46] wyman10 commented on #31
We have another DOI that is not resolving.

http://dx.doi.org/10.7939/DVN/10296

It is the Canadian Hansard, 2006-2015 Dataverse that was created on October 1st, 2015.
https://dataverse.library.ualberta.ca/dvn/dv/hansard

[2015-10-06 20:30] piyapongch commented on #31
I will take a look at it.

[2015-10-06 20:34] pcharoen commented on #31
Can you try again? Thanks,

Piyapong.

On Tue, Oct 6, 2015 at 8:46 AM, wyman10 notifications@github.com wrote:

[2015-10-07 23:17] johnhuck opened #34 "Deaccessioned studies included in metadata export"
@piyapongch , could you please investigate why the following de-accessioned studies were included in the most recent metadata export. When a study is deaccessioned, there should be no released version of the study. My presumption is that only released studies are exported. Is it possible to explain why it happened in this case? Thank you.

http://dx.doi.org/10.7939/DVN/10314
http://dx.doi.org/10.7

[2015-10-08 15:30] piyapongch commented on #34
I will take a look at it.

[2015-10-08 16:32] johnhuck commented on #34
Hi Piyapong,

After our conversation today where you suggested I check the date last modified for the two de-accessioned items I did check and found that they are earlier dates. I looked at a number of other files and they all had modified dates of September 30th.

The DDI XML file for 10314 was last modified May 1, 2015.
The DDI XML file for 10470 was last modified June 9, 2015.

Study 10315 was

[2016-01-26 17:27] wyman10 opened #35 "broken links on dataverse"
The broken links found:
"contact us"
"data management @ uofa"

should be changed to
"contact us"
https://docs.google.com/a/ualberta.ca/forms/d/1kBbI52FTqG5fdTfaq_7NaddEFJGNyORvvYhxsP-9zHY/viewform?usp=send_form

"data management @ uofa"
https://www.library.ualberta.ca/research-support/data-management

[2016-02-19 20:19] wyman10 opened #36 "Upload Stalling on a zip file"
I am trying to upload a zip file to DV that is 580mb. I could have sworn that we had increased to upload and download file size to 1gb last year? The dataverse is https://dataverse.library.ualberta.ca/dvn/dv/rdm

larry

[2016-02-22 21:27] piyapongch commented on #33
Done.

[2016-02-22 21:27] #33 closed, assigned to piyapongch

[2016-02-22 21:28] piyapongch commented on #31
Problems have been fixed.

[2016-02-22 21:28] #31 closed, assigned to piyapongch

[2016-02-22 21:30] piyapongch commented on #34
We have to delete all old data before export a new set of data.

[2016-02-22 21:30] #34 closed, assigned to nobody

[2016-03-02 17:03] johnhuck opened #37 "Request for a new metadata export"
@piyapongch I would like a new extract of metadata from Dataverse, please.

As we have discussed, an important step is to vacate the folder where the export will be saved so that we get updated files as well as new files.

Again, if possible, it would be convenient to get both the DC and DDI, but to have them saved in two separate folder hierarchies. I will be working with the DDI, but may wish to

[2016-03-02 18:43] wyman10 commented on #36
I was wondering if this issue has been investigated. As noted I was sure we have increased the upload limit a year ago?

larry

[2016-03-02 19:03] piyapongch commented on #36
I have not had time to get into it yet. I will investigate the problem
tomorrow.

Piyapong.

On Wed, Mar 2, 2016 at 11:43 AM, wyman10 notifications@github.com wrote:

[2016-03-09 21:48] piyapongch commented on #37
I have shared the Dataverse DC and DDI metadata files on Google Drive. These package include all studies in the Dataverse.

[2016-03-09 21:48] #37 closed, assigned to nobody

[2016-03-22 16:40] piyapongch opened #38 "DOI Registration Problem"
The problem has been reported by Larry:

I am trying to re register for unresolved DOIs for the most recent 5 stdies released on dataverse. However, it is not working so I just want to double check the syntax I am entering in the Utilities Handles Re-register Individual Studies box

If I have a studyId of 477 what would be the exact phrase I would enter?

[2016-03-22 16:41] piyapongch commented on #38
I will check the server log.

[2016-03-22 21:19] piyapongch commented on #38
I have checked the password. It has not been changed. I think it might be the EZID connection might have been disconnected somehow. I have issued a ticket for Henry to schedule to restart the application server. We will try again when the server has been restarted.

[2016-03-23 20:19] piyapongch commented on #38
I have checked on test server, hibernian. It is working properly. Henry has reported that the SSL certificate has been changed. The last study registered on 2016-02-19.

[2016-03-23 20:20] piyapongch commented on #38
I have built a EZID test jar file with dependencies for Henry to test on production server.

[2016-03-23 20:24] piyapongch commented on #38
I have tried the test script on hibernian. It is working. It did not throw any exception.

[2016-04-06 15:41] piyapongch commented on #38
I have tried to register the studyId 477. It seems to be working now. You can try to register others. Please let me know if there is any problem.

[2016-04-07 18:47] wyman10 opened #39 "Links At the top of the dataverse page not working"
The data management @ uofa and contact us links at the top of the dataverse home page are not working https://dataverse.library.ualberta.ca/dvn/

[2016-04-07 20:21] piyapongch commented on #35
I have changed the links. Can you check them on the test server at https://dataverse.library.ualberta.ca/dvn/ to make sure that they are point to the right pages?

[2016-04-07 20:22] piyapongch commented on #39
Duplicate with #35

[2016-04-07 20:22] #39 closed, assigned to piyapongch

[2016-04-07 20:29] wyman10 commented on #35
Can you send me the test server link?

[2016-04-07 20:40] piyapongch commented on #35
Sorry, wrong one. Here is the test server link, https://hibernian.library.ualberta.ca/dvn/.

[2016-04-07 20:42] wyman10 commented on #35
They work!

thanks
Larry

On Thu, Apr 7, 2016 at 2:41 PM, Piyapong Charoenwattana <
notifications@github.com> wrote:

[2016-04-07 21:09] #35 closed, assigned to piyapongch

[2016-08-29 19:34] johnhuck opened #40 "Request for new metadata extract (Aug 2016)"
@piyapongch , would you please get me a new extract of metadata from Dataverse.

As we have discussed in the past, an important step for Henry is to vacate the folder where the export will be saved so that we get updated files as well as new files.

Could I please have both the DC and DDI, but have them saved in two separate folder hierarchies? I will be working with the DDI, but may wish to refer

[2016-09-06 03:02] pcharoen commented on #40
Here is the instruction to export DVN metadata.
https://docs.google.com/a/ualberta.ca/document/d/166T5FX6PhF3DehShUqteO_swOGI5fnQlGh975rl_btE/edit?usp=sharing

Henry:

Could you please export the data as requested? We have done this before.
Let me know if you have any question.

Thanks,

Piyapong.

On Tue, Aug 30, 2016 at 2:34 AM, johnhuck notifications@github.com wrote:

[2016-09-06 15:07] johnhuck commented on #40
@pcharoen, Thank you for the link. Actually, I found your instructions last week and @henryzhang87 and I were able to complete the export last week. I neglected to come back and update this ticket. My apologies! The instructions were very helpful. It was a good exercise for me.

[2016-09-06 15:09] johnhuck commented on #40
Also, btw, I shared the instructions and the Google Drive folder where you have saved previous exports for me with Henry.

[2016-09-06 15:09] #40 closed, assigned to henryzhang87

[2016-09-29 18:43] wyman10 opened #41 "Customizing a Users DV with a banner"
I have  user who wants to  create a customized banner  in Dataverse. While there is an option in Settings > Customization to create a custom banner, when they try to provide the link to the custom banner they would like to use it isn’t possible to edit.

I am wondering if we have disabled this option? If so can we turn it on?

all the best
Larry

[2016-09-30 18:41] piyapongch commented on #41
The custom header has been disabled for all dataverses including main site. I has been customized by modifying the source code and replacing with content in Bundle.properties file. To turn the feature on, the source code will need to reverse it back to original. This modification need to be tested with other customization that we have made. The feature will be turn on for all dataverses. There is

[2016-09-30 18:50] piyapongch commented on #41
I have found the way to work around it by adding <img> tag in dataverse description to display a banner. The banner will be replacing the description wordings. I think this might be a solution for now without modifying source code.

Let me know if you would like to know how to it.

Thanks,

[2016-09-30 18:59] piyapongch commented on #41
Here is a sample, https://hibernian.library.ualberta.ca/dvn/dv/custom.